<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
    <title>팝콘서치</title>
  </head>
  <body>
    <header>
      <h1>popcorn search</h1>
      <a href="./index.html" class="gnb-logo"></a>
      <nav class="gnb">
        <ul>
          <!-- gnb 항목 추가시 h1 hidden -->
          <!-- <li>
            <a href="" class="gnb-suggest">추천</a>
          </li>
          <li>
            <a href="" class="gnb-gnere">장르</a>
          </li>
          <li>
            <a href="" class="gnb-favorite">내가 찜한 컨텐츠</a>
          </li> -->
          <form class="gnb-search" action="">
            <fieldset>
              <legend>찾고 싶은 영화를 검색하세요</legend>
              <input type="text" placeholder="  Movie title" />
              <button>검색</button>
            </fieldset>
          </form>
        </ul>
      </nav>
    </header>
    <div class="grid-container">
      <div class="movie-card" id="movieCard">
        <img
          id="movieImg"
          src="https://image.tmdb.org/t/p/w500/3bhkrj58Vtu7enYsRolD1fZdja1.jpg"
          alt="title"
        />
        <h5 id="movieTitle">The Godfather</h5>
        <p id="movieReview">
          Spanning the years 1945 to 1955, a chronicle of the fictional
          Italian-American Corleone crime family. When organized crime family
          patriarch, Vito Corleone barely survives an attempt on his life, his
          youngest son, Michael steps in to take care of the would-be killers,
          launching a campaign of bloody revenge.
        </p>
        <p id="movieRate">Rating: 8.7</p>
      </div>
      <div class="movie-card" id="movieCard">
        <img
          id="movieImg"
          src="https://image.tmdb.org/t/p/w500/3bhkrj58Vtu7enYsRolD1fZdja1.jpg"
          alt="title"
        />
        <h5 id="movieTitle">The Godfather</h5>
        <p id="movieReview">
          Spanning the years 1945 to 1955, a chronicle of the fictional
          Italian-American Corleone crime family. When organized crime family
          patriarch, Vito Corleone barely survives an attempt on his life, his
          youngest son, Michael steps in to take care of the would-be killers,
          launching a campaign of bloody revenge.
        </p>
        <p id="movieRate">Rating: 8.7</p>
      </div>
      <div class="movie-card" id="movieCard">
        <img
          id="movieImg"
          src="https://image.tmdb.org/t/p/w500/3bhkrj58Vtu7enYsRolD1fZdja1.jpg"
          alt="title"
        />
        <h5 id="movieTitle">The Godfather</h5>
        <p id="movieReview">
          Spanning the years 1945 to 1955, a chronicle of the fictional
          Italian-American Corleone crime family. When organized crime family
          patriarch, Vito Corleone barely survives an attempt on his life, his
          youngest son, Michael steps in to take care of the would-be killers,
          launching a campaign of bloody revenge.
        </p>
        <p id="movieRate">Rating: 8.7</p>
      </div>
      <div class="movie-card" id="movieCard">
        <img
          id="movieImg"
          src="https://image.tmdb.org/t/p/w500/3bhkrj58Vtu7enYsRolD1fZdja1.jpg"
          alt="title"
        />
        <h5 id="movieTitle">The Godfather</h5>
        <p id="movieReview">
          Spanning the years 1945 to 1955, a chronicle of the fictional
          Italian-American Corleone crime family. When organized crime family
          patriarch, Vito Corleone barely survives an attempt on his life, his
          youngest son, Michael steps in to take care of the would-be killers,
          launching a campaign of bloody revenge.
        </p>
        <p id="movieRate">Rating: 8.7</p>
      </div>
    </div>
    <footer>
      <p>현재 페이지는 내일배움캠프 개인과제 페이지입니다.</p>
    </footer>
  </body>
</html>
